<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Task:</strong>
    <%= task.name %>
  </p>
  <%# if action_name != "show" %>
    <%#= link_to "Show this task", task, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to 'Edit this task', edit_task_path(task), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <%# end %>
</div>
