<div class="container mx-auto p-4">
  <%= form_with url: search_movies_path, method: :post, data: { controller: 'debounce', debounce_target: 'form' } do |form| %>
    <div class="mb-4">
      <%= form.label 'Search Movies', class: 'block text-gray-700 text-lg font-bold mb-2' %>
      <%= form.search_field :title, class: 'w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500', data: { action: 'input->debounce#search' } %>
    </div>
  <% end %>
  <div id="search_results" class="mt-4"></div>
</div>