<div id="<%= dom_id notification %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Seen:</strong>
    <%= notification.seen %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this notification", notification, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this notification', edit_notification_path(notification), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
