<div id="<%= dom_id room %>" class="text-xl font-semibold my-5 hover:cursor-pointer">
  <span class="hover-wrapper">
    Room <%= room.id %>
    <div class="hover-content">
      <%= turbo_frame_tag dom_id(room, :thumbnail), target: '_top', loading: :lazy, src: hovercard_room_path(room) do %>
        Loading...
      <% end %>
    </div>
  </span>
</div>
