/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://cdn.jsdelivr.net/gh/alumuko/vanilla-datetimerange-picker@latest/dist/vanilla-datetimerange-picker.css");
@import url("https://unpkg.com/dropzone@5/dist/min/dropzone.min.css");
@import url("https://unpkg.com/dropzone@5/dist/min/basic.min.css");

.hover-wrapper .hover-content {
    display: none;
    position: relative;
    top: -5px;
    left: -5px;
    padding: 15px;
    border-radius: 15px;
    background-color: aliceblue;
    color: #000000;
    width: 50%;
}

.hover-wrapper:hover .hover-content {
    display: block;

}

dialog::backdrop {
    backdrop-filter: blur(10px);
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    margin: 0 auto;
}

.dropzone-msg {
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.dropzone-msg:hover {
    opacity: 0.7;
}

.dropzone-msg-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.dropzone-msg-desc {
    font-size: 1rem;
    color: #555;
}